{{! Blog Post cards }}
<div class="card">
  <div class="card-header">
    <div class="card-title" style="font-size: 1.8rem;">Why MVC is so important</div>
  </div>
  <div class="card-body">
    <p class="card-text">MVC allows developers to maintain a true separation of
      concerns, dividing their code between the model layer for data, the view
      layer for design, and the controller layer for application logic.
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em
      >Post by Josh on 5/8/2020</em></p>
  </div>
</div>