<div class="card bg-dark text-white mb-3">
  <div class="card-header d-flex align-items-center justify-content-between">
    <p class="card-title text-white mb-0" style="font-size: 1.5rem;">Why MVC is
      so important</p>
    <p class="card-text mb-0">Post by Josh on 5/8/2020</p>
  </div>
  <div class="card-body">
    <p class="card-text">MVC allows developers to maintain a true separation of
      concerns, dividing their code between the model layer for data, the view
      layer for design, and the controller layer for application logic.</p>
  </div>
</div>