<h1>Are you sure you want to logout?</h1><br />
<form method="post" action="/api/users/logout">
  <button
    id="logout-link"
    type="submit"
    class="btn btn-primary"
    style="width: 20vw"
  >Logout</button></form>