<form action="/dashboard/new" method="POST">
  <div class="form-group">
    <label for="title"><strong>Title:</strong></label><br />
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      style="width: 70vw; font-size: 24px;"
      required
    />
  </div>
  <div class="form-group">
    <label for="description"><strong>Description:</strong></label><br />
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="5"
      style="width: 70vw; font-size: 24px; padding: 10px;"
    ></textarea>
  </div>
  <br />
  <button type="submit" class="btn btn-primary" style="width: 20vw">Create Post</button>
</form>